# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_STUDIO_PROJECT_ID="sample"
NEXT_PUBLIC_SANITY_STUDIO_DATASET="production"
SANITY_STUDIO_API_READ_TOKEN="sample"


